/* Tablet */
@media screen and (max-width: 768px) {
    
    body {
        overflow-x: hidden;
    }

    header {
        flex-direction: column;
        height: auto;
    }
      
    nav {
        padding-right: 0;
        margin: 15px auto; 
        
    }
    
    .header-title {
        text-align: center;
    }

    .nav-link-wrapper a {
        font-size: 20px;
    }

    .section-content {
        padding-right: 100px;
        font-size: 18px;
    }

    .project {
        width: 100%;
    }

    .row {
        flex-direction: column;
    }

    .section-title {
        font-size: 36px;
    }

    .contact-links {
        margin-top: 0;
    }

    .contact-link-wrapper {
        margin: 10px ;
    }

    span {
        
    }

}

@media screen and (max-width: 576px) {
    
    nav {
        flex-direction: column;
        width: auto;
        text-align: center;
    }

    section {
        flex-direction: column;
    }

    .section-title {
        text-align: left;
        margin-left: 30px;
        border-radius: 4px solid var(--color-dark-blue); 
    }

    .section-content {
        border: none;
        margin-top: 20px;
        padding-right: 50px;
    }

    #about-me .section-content {
        padding-left: 40px;
    }

    .contact-link-wrapper a {
        font-size: 18px;
    }

    .header-title {
        width: auto;
        text-align: center;
        padding-left: 10px;
    }

    .header-title h1 {
        font-size: 26px
    }
    
}
