/* Tablet */
@media screen and (max-width: 768px) {
    nav {
        padding-right: 30px;
        margin-left: 25px;
    }
    .header-title {
        font-size: 12px;
    }

    .nav-link-wrapper a {
        font-size: 20px;
    }

    .section-content {
        font-size: 18px;
    }

    .project {
        width: 100%;
    }

    .row {
        flex-direction: column;
    }

    .section-title {
        font-size: 46px;
    }

    .contact-links {
        margin-top: 0;
    }

    .contact-link-wrapper {
        margin: 10px 0;
    }

}

/* Mobile */
@media screen and (max-width: 480px) {
    
}