html, body {
    padding: 0;
    margin: 0;
}

.header-title  { 
    height: 70px;
    width: 500px;
}   

.bg-image {
    height: 200px;
    width: 100%;
    background-image: url(../images/bg-image.webp);
    background-size: cover;
}

.project-img {
    opacity: 0.5;
}

.project-img:hover {
    opacity: 1;
}

.project-title-wrapper {
    bottom: 35px;
}
