:root {
    --color-primary :rgb(23, 128, 128) ;
    --color-dark: rgb(24, 20, 20) ;
}

html, body {
    padding: 0;
    margin: 0;
}

header {  
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: space-between;
    height: 90px; 
    background-color: var(--color-dark);
}

.header-title  { 
    color: var(--color-dark);
    padding-right: 10px;
    height: 70px;
    width: 500px;
    background-color: var(--color-primary)  
}

nav {
    display: flex;
    padding-right: 80px;
}

.nav-link-wrapper {
    border-bottom: 4px solid var(--color-primary);
    margin-right: 20px;
    padding: 0 15px; 
}

.nav-link-wrapper a {
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-primary);
}